<!-- <table class="table">
    <thead>
      <tr>
        <th>ID</th>    
        <th>Action</th>
        <th>Time</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>Remove</td>
        <td>23:34</td>
        <td style="color: red">Not saved!</td>
        <td>Remove vendor 2 from Anatomic 1 </td>
      </tr>
    </tbody>
</table> -->

<table class='table' *ngIf="allNotes">
    <thead>
        <tr>
          <th>ID</th> 
          <th>Time</th>   
          <th>Action</th>
          <th>Anatomic Object</th>
          <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of allNotes">
            <td>...</td>
            <td>{{ note.time }}</td>
            <td>{{ note.action }}</td>
            <td>{{ note.anatomicName }}</td>
            <td>{{ note.vendorName }}</td>  
        </tr>
    </tbody>
</table>
<button id="importVendor" class="btn btn-black" (click)="saveAll()">Save</button>  
