
table{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    border: 2px solid rgba(0,0,0,1);
}
table thead tr th{
    background-color: rgba(0,0,0,0.6);
    color: white;
}

table tbody > tr > th{
    background-color: rgba(0,0,0,0.35);
    color: white;
    
}

table tbody > tr > td{
    background-color: rgba(0,0,0,0.35);
    color: white;
    
}