<canvas id="renderCanvas"></canvas>

<div id="context" class="context">
    <h1>Anatomic 1</h1>
    <button onclick=" prompt('edit')">Edit</button>
    <button onclick=" prompt('replace')">Replace</button>
    <button (click)="removeVendor()">Remove</button>      
</div>

<div id="context2" class="context">
    <h1>No object selected</h1>   
</div>

